<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="MyKey" connectionString="Data Source=ARUSHA-PC\SQLEXPRESS;Initial Catalog=newdep; User ID=sa;Password=123;"
      providerName="System.Data.SqlClient" />
    <add name="Restorant_Management_System.Properties.Settings.Test_SNPConnectionString"
      connectionString="Data Source=ARUSHA-PC\SQLEXPRESS;Initial Catalog=newdep;User ID=sa;Password=123;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>